<div class="col-4 row">
    <div class="col-2 pt-3 pl-10">
        <label for="search"><i class="fas fa-search fa-2x"></i></label>
    </div>

    <div class="col-10">
        <input id="search" class="form-control input-search" placeholder="{{'COMMON.SEARCH' | translate}}">
    </div>
</div>
<div class="col-2 row">
    <div class="col-6 mt-3">
        <label>{{'COMMON.RESULTS' | translate}}</label>
    </div>
    <div class="col-6">
        <select class="form-control">
            <option *ngFor="let x of colours" [value]="x" [selected]="">{{x}}</option>
        </select>
    </div>
</div>
